@font-face {
  font-family: "Mostra Nuova W05 Regular";
  src: url("/fonts/a8adceec-3131-40a2-835d-9a78c87605e5.eot");
  src: url("/fonts/a8adceec-3131-40a2-835d-9a78c87605e5.eot") format("eot"),
    url("/fonts/516c05eb-d25b-4a79-aab6-0c261fae96dd.woff2") format("woff2"),
    url("/fonts/81e23c74-1c79-4344-926c-b396dd6808e4.woff") format("woff"),
    url("/fonts/da26e750-32da-4e96-8c8c-b5adacfed035.ttf") format("truetype");
}

body {
  font-family: "Mostra Nuova W05 Regular", sans-serif;
  color: #444;
}

p {
  font-size: 1.5rem;
}
.carousel-item {
  height: 100vh;
}

.main-section,
.catalog-section {
  text-align: center;
}
/****** FOOTER ******/
footer {
  background-color: #2f2f2f;
  padding: 60px;
  font-size: 80%;
  height: 32px;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited,
footer p a:link,
footer p a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
footer p a:hover,
footer p a:active {
  color: #fff;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.fa-facebook-square:hover {
  color: #3b5998;
  transition: color 0.2s;
}

.fa-instagram:hover {
  color: #c32aa3;
  transition: color 0.2s;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
  font-size: 80%;
}

footer .copyright {
  background-color: #2f2f2f;
  width: 100%;
}

footer p:last-child {
  padding-top: 5px;
}

.contact .contact-label {
  width: 100%;
}

.contact .contact-input {
  width: 50%;
}

.contact .contact-message {
  justify-content: center;
  align-items: center;
}
